asl-0.json
{
  "StartAt": "Addition Step",
  "States": {
    "Addition Step": {
      "Next": "Wait Step",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "InputPath": "$",
      "OutputPath": "$",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "Addition60747679",
        "Payload.$": "$"
      }
    },
    "Wait Step": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Square Step"
    },
    "Square Step": {
      "End": true,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "InputPath": "$.Payload",
      "OutputPath": "$",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "SquareF92A47EF",
        "Payload.$": "$"
      }
    }
  },
  "TimeoutSeconds": 300
}